@import '/styles/main.module.scss';

.section {
    padding: 2rem 0 0.5rem 0;
    margin-left: 2rem;
}

.title {
    font-size: $fontSizeXXXLarge;
    font-weight: $fontWeightBold;
    cursor: pointer;
}