@import '/styles/main.module.scss';

.section {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    margin-left: 2rem;
}

.title {
    @include FontSizeXXXLarge;
    font-weight: $fontWeightBold;
    cursor: pointer;
}