@import '/styles/main.module.scss';
@import '/styles/componentStyles.module.scss';

.border {
    padding: 2rem;
    height: 40%;
    border-radius: 20px;
    background-color: $colorBg;
}

.text {
    padding-bottom: 4rem;
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}