@import '/styles/main.module.scss';

.position {
    padding: 2rem 0;
}

.border {
    border-radius: 20px;
    background-color: $colorBg;
    padding: 2rem 0;
    width: 50%;
}

.title {
    font-weight: $fontWeightBold;
    font-size: 1.3rem;
    margin: 0 1.5rem;
}