@import '/styles/main.module.scss';
@import '/styles/componentStyles.module.scss';

.border {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: $colorBg;
    border-radius: 20px;
}

.text {
    padding-bottom: 2rem;
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

.item {
    padding-bottom: 1.5rem;
    margin: 0 2rem;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.categoryContainer {
    padding: 1rem 0;
    border: 0.2rem solid $colorPurple;
    border-radius: 12px;
    width: 8rem;
    height: 8rem;
    font-weight: $fontWeightSemiBold;
    text-align: center;
    cursor: pointer;
}

.icon {
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 3.5rem;
    height: 3.5rem;
}

.total {
    font-size: $fontSizeMedium;
}

.categoryContainer:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.category {
    padding-bottom: 1rem;
    font-size: $fontSizeLarge;
    font-weight: $fontWeightSemiBold;
    text-align: center;
    text-transform: capitalize;
}

.food {
    color: $colorIconOrange;
    border-color: $colorIconOrange;
}

.transport {
    color: $colorIconRed;
    border-color: $colorIconRed;
}

.clothes {
    color: $colorIconPink;
    border-color: $colorIconPink;
}

.health {
    color: $colorIconGreen;
    border-color: $colorIconGreen;
}

.restaurant {
    color: $colorIconYellow;
    border-color: $colorIconYellow;
}

.fees {
    color: $colorIconBlue;
    border-color: $colorIconBlue;
}

.other {
    color: $colorIconBrown;
    border-color: $colorIconBrown;
}

.display {
    padding-top: 2rem;
    margin: 0 2rem;
    color: $colorFontRed;
    font-weight: $fontWeightMedium;
    text-align: center;
}