//MAIN COLOR
$colorPurple: #524AAD;


//FONTS COLORS
$colorFontBlack: #000000;
$colorFontGrey: #9A9BA6;
$colorFontRed: #D92531;
$colorFontGreen: #5CDB7C;


//BACKGROUNDS COLORS
$colorBg: #fff;
$colorBgSecondary: #F3F2F7;


//ICON BACKGROUNDS
$colorBgIconGreen: #E9F2F1;
$colorBgIconPink: #F7E9F5;
$colorBgIconBlue: #E7F1F5;


//ICONS COLORS
$colorIconGreen: #4DC2BB;
$colorIconPink: #C06EF7;
$colorIconBlue: #6AAECC;
$colorIconYellow: #F0990A;
$colorIconRed: #C41A1E;
$colorIconOrange: #ed7606;
$colorIconBrown: #8c6a4f;