@import '/styles/main.module.scss';

.footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text {
    color: $colorFontBlack;
    font-weight: $fontWeightSemiBold;
}