@import '/styles/main.module.scss';
@import '/styles/componentStyles.module.scss';

.border {
    padding: 2rem 0 1rem 0;
    border-radius: 20px;
    background-color: $colorBg;
}

.text {
    padding-bottom: 1.2rem;
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

.date {
    padding: 0.6rem 0 1rem 0;
    margin: 0 1.5rem;
    color: $colorFontGrey;
    font-size: $fontSizeXSmall;
    font-weight: $fontWeightMedium;
}

.transaction {
    padding-bottom: 1.3rem;
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    cursor: pointer;
}

.transaction:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
    color: $colorPurple;
}

.icon_border {
    border: 0.2rem solid $colorPurple;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
}

.dsp {
    line-height: 1.5rem;
}

.payment {
    padding-right: 1rem;
    font-weight: $fontWeightSemiBold;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
}

.category {
    color: $colorFontGrey;
    font-size: $fontSizeXSmall;
    font-weight: $fontWeightMedium;
    text-transform: capitalize;
}

.calendar {
    padding: 0 1rem;
    color: $colorFontGrey;
    font-size: $fontSizeXSmall;
    font-weight: $fontWeightMedium;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.amount {
    padding-left: 1rem;
    color: $colorFontRed;
    font-size: $fontSizeLarge;
    font-weight: $fontWeightSemiBold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-income {
    color: $colorFontGreen;
}

.amount-spend {
    color: $colorFontRed;
}

.food {
    color: $colorIconOrange;
    border-color: $colorIconOrange;
}

.food:hover {
    color: $colorIconOrange;
    border-color: $colorIconOrange;
}

.transport {
    color: $colorIconRed;
    border-color: $colorIconRed;
}

.transport:hover {
    color: $colorIconRed;
    border-color: $colorIconRed;
}

.clothes {
    color: $colorIconPink;
    border-color: $colorIconPink;
}

.clothes:hover {
    color: $colorIconPink;
    border-color: $colorIconPink;
}

.health {
    color: $colorIconGreen;
    border-color: $colorIconGreen;
}

.health:hover {
    color: $colorIconGreen;
    border-color: $colorIconGreen;
}

.restaurant {
    color: $colorIconYellow;
    border-color: $colorIconYellow;
}

.restaurant:hover {
    color: $colorIconYellow;
    border-color: $colorIconYellow;
}

.fees {
    color: $colorIconBlue;
    border-color: $colorIconBlue;
}

.fees:hover {
    color: $colorIconBlue;
    border-color: $colorIconBlue;
}

.other {
    color: $colorIconBrown;
    border-color: $colorIconBrown;
}

.other:hover {
    color: $colorIconBrown;
    border-color: $colorIconBrown;
}

.display {
    padding-top: 2rem;
    margin: 0 2rem;
    color: $colorFontRed;
    font-weight: $fontWeightMedium;
    text-align: center;
}