.position {
    padding: 2rem 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    @include FontSizeXLarge;
    font-weight: $fontWeightBold;
}

.viewMore {
    color: $colorPurple;
    font-weight: $fontWeightSemiBold;
    cursor: pointer;
}

.viewMore:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
}