@import '/styles/main.module.scss';

.menu {
    width: 15%;
    height: 100vh;
    color: $colorFontGrey;
    background-color: $colorBg;
    position: fixed;
    overflow-y: hidden;
}

.profile {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    cursor: pointer;
}

.avatar {
    width: 50px;
    height: 50px;
    color: $colorPurple;   
}

.avatar:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
  }

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $colorFontBlack;
    gap: 0.5rem;
}

.name {
    font-weight: $fontWeightBold;
    font-size: 1.2rem;
    color: $colorPurple;
}

.name:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
  }

.account {
    font-weight: $fontWeightMedium;
    font-size: 0.8rem;
}

.list {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    cursor: pointer;
}

.item:hover {
    background-color: $colorBgSecondary;
    color: $colorPurple;
    border-left: 0.5rem solid $colorPurple;
    transition: 0.3s;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3rem;
}

.text {
    font-weight: $fontWeightSemiBold;
    line-height: $lineHeightDefault * 4;
    padding-left: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}